#browser-sync-binding {
	color: #EEE;

	.primary, .secondary {
		display: block;
		text-align: center;
		font-size: 30px;
	}
	.primary {
		font-weight: 700;
		line-height: 100px;
	}
	.secondary {
		font-weight: 400;
	}
}
paper-toast {
	visibility: hidden;
}
